{
  "env": {
    "browser": true, // Defines browser global variables (e.g., `window`)
    "node": true // Defines Node-specific variables (e.g., `process.env`)
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:svelte/recommended",
    "plugin:prettier/recommended"
  ],
  "overrides": [
    {
      "files": ["*.svelte"],
      "parser": "svelte-eslint-parser",
      "parserOptions": {
        // Parses the `<script>` in `.svelte` files as TypeScript
        "parser": "@typescript-eslint/parser"
      }
    }
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "extraFileExtensions": [".svelte"], // Required setting in `@typescript-eslint/parser` v4.24.0
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint"],
  "root": true,
  "rules": {
    "no-duplicate-imports": ["error", { "includeExports": true }],
    "sort-imports": "error"
  }
}
