# dependencies
node_modules
pnpm-debug.log*
pnpm-error.log*

# dotenv
!.env.example
.env
.env.*

# ide
.vscode

# misc
.DS_Store

# svelte
.svelte-kit

# testing
coverage

# typescript
*.tsbuildinfo

# vercel
.vercel

# vite
build
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
